<%- include("templates/header") %>
    <header>Welcome!</header>

    <% if (authenticated) { %>
        <a href="<%- routeOne %>"><button class="btn btn-primary"><%- buttonNameOne %></button></a>
        <button onClick="signout()" class="btn btn-primary"><%- buttonNameTwo %></button>
      <% } else { %>
        <a href="<%- routeOne %>"><button class="btn btn-primary"><%- buttonNameOne %></button></a>
        <a href="<%- routeTwo %>"><button class="btn btn-primary"><%- buttonNameTwo %></button></a>
      <% } %>
      
      <script>
        async function signout() {
            try {
                console.log('hello')
                await fetch("http://localhost:8000/api/signout", {method: 'POST', body: 'a=1'});
            } catch (e) {
                console.log(e);
            }
        
            return;
        }
    </script>

   
<% - include ("templates/footer") %>